RewriteEngine on

ErrorDocument 404 /

RewriteCond %{HTTP_HOST} ^docs.antaresproject.io$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.docs.antaresproject.io/$
RewriteCond %{REQUEST_URI} !site/

RewriteRule (.*) site/$1 [L]


RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]