<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="INBS Software" />
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="theme-color" content="#00adee">
    <meta name="theme-color" content="#00adee">
    <meta name="msapplication-navbutton-color" content="#00adee">
    <meta name="apple-mobile-web-app-status-bar-style" content="#00adee"> 
    <link rel="shortcut icon" sizes="192x192" href="{{ base_url }}/img/favicon.png"> 
    <link rel="stylesheet" href="{{ base_url }}/css/assets.css">
    <link rel="stylesheet" href="{{ base_url }}/css/docs.css">
    <link rel="stylesheet" href="{{ base_url }}/css/prism.css">
    <script src="{{ base_url }}/js/assets.js"></script>
    <script src="{{ base_url }}/js/docs.js"></script>
    <script src="{{ base_url }}/js/prism.js"></script> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <aside class="ardocs-menu ardocs-menu--offcanvas">
        <header>
            <div class="offcanvas-close"><i class="zmdi zmdi-arrow-left"></i><p class="ardocs-menu__title">Documentation</p></div>
        </header>
        <nav>
            <p class="ardocs-menu__title">Documentation</p>
        </nav>
    </aside>
    <div id="ardocs-container">
        <section class="antares-nav">
            <div class="set-width">
                <a href="{{ base_url }}" class="logo"></a>
                <div class="ardocs-mobile-toggle">
                    <div>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <nav class="ardocs-menu" role="navigation">

                </nav>
            </div>
        </section>
        <div class="set-width">
            <div class="mobile-doc-toggle btn--mobile-doc-menu uppercase"><i class="zmdi zmdi-menu"></i>Documentation</div>
        </div>
        <section class="ardocs-content set-width">
            <aside class="ardocs-menu table-of-contents">
                <ul class="toc">
                    {% for nav_item in nav %} {% include "nav.html" %} {% endfor %}
                </ul>
            </aside>
            <div class="main-content">
                {% block content %} {{ page.content }} {% endblock %}
            </div>
        </section>            
    </div>
</body>

</html>
